* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #211d1e;
    display: flex;
}

.image-sidebar {
    position: relative;
    height: 100%;
    width: 35%;
    background: url(./images/cash-macanaya-IKEQNt9wYb4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.logo-container{
    position: absolute;
    top: 20vh;
    background-color: #44444480;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    width: 25%;
}

.logo-text {
    margin-right: 0.8rem;
    font-family: 'neon_raveregular';
    font-size: 4.5vw;
    color: #db2d40;
}

.form-sidebar {
    height: 100%;
    width: 65%;
}

.quote-container {
    width: 100%;
    background-color: #2e2c2d;
    color: #db2d40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.75vh 0;
    text-align: center;
}

.quote {
    font-family: 'neon_raveregular';
    font-size: 3vw;
    text-shadow: 2px 2px 5px #77599f;
    line-height: 3vw;
}

form {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 25.5vh - 6vw); 
    background-color: #77599f;
}

fieldset {
    box-sizing: border-box;
    border: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    font-family: 'neon_raveregular';
    color: #db2d40;
    text-shadow: 2px 2px 5px #211d1e;
}

.inputs-container {
    display: flex;
    gap: 2vw    ;
}

.inputs-left, .inputs-right {
    display: flex;
    flex-direction: column;
}

input {
    width: 17.5vw;
    height: 2.5vw;
    background-color: transparent;
    border: 5px solid #2e2c2d;
    border-radius: 3px;
    font-size: 1.5vw;
    text-align: center;
    color: #c2bfbf;
}

input:focus {
    background-color: #554070;
    outline: none;
}

label {
    font-size: 1.5vw;
    color: #211d1e;
}

button {
    width: 17.5vw;
    height: 2.5vw;
    border: 0;
    font-size: 1.5vw;
}

.sign-paragraph, a {
    font-size: 1vw;
}